{% extends "social/base.html" %}


{% block content %}

<form method='POST' >
{% csrf_token %}
  Username:<br>
  <input type="text" name="username"><br>
  Current password:<br>
  <input type="password" name="CP">
    <br>
  New password:<br>
  <input type="password" name="NP">
<p>Secret Question: What was the name of your elementary / primary school?</p>
      <input type='text' maxlength='255' name='secret_answer'><br>
      <span class='fieldname'>&nbsp;</span>
      <br>
 <button type="submit" > Change the password </button>

</form>
<br>


{% endblock %}
